{% extends "base.html" %}
{% block body %}

<h1>ایجاد ایستگاه جدید</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        
        <h2>نازل‌های بنزین</h2>
        <div id="gasoline_nozzle_formset">
            <!-- فرم‌های نازل‌های بنزین به صورت دینامیک اضافه خواهند شد -->
        </div>
        <h3 id="gasoline_total">مجموع بنزین: 0</h3>
        
        <h2>نازل‌های گاز</h2>
        <div id="gas_nozzle_formset">
            <!-- فرم‌های نازل‌های گاز به صورت دینامیک اضافه خواهند شد -->
        </div>
        <h3 id="gas_total">مجموع گاز: 0</h3>

        <h2>مخازن بنزین</h2>
        <div id="gasoline_tank_formset">
            <!-- فرم‌های مخازن بنزین به صورت دینامیک اضافه خواهند شد -->
        </div>

        <h2>مخازن گاز</h2>
        <div id="gas_tank_formset">
            <!-- فرم‌های مخازن گاز به صورت دینامیک اضافه خواهند شد -->
        </div>

        <button type="submit">ذخیره</button>
    </form>
    <a href="{% url 'station_list' %}">بازگشت به لیست</a>
{% endblock %}